.cards {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  height: auto;
  max-width: 100%; /* Giới hạn chiều rộng tối đa */
  overflow-x: hidden;
  margin-top: 20px;
}
.top-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom-item {
  display: flex;
  max-width: 100%; /* Giới hạn chiều rộng tối đa */
  width: 100%;
  justify-content: space-between;
}
.left-card {
  max-width: 55%;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}
.right-card {
  max-width: 45%;
  width: 100%;
}
* {
  box-sizing: border-box;
}
